@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin-font {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;

}
/* shared style */
    :root{
        --primary-color: #3A3A3A;
    }
    .display-flex{
        display: flex;
    }


    .btn{
        border-radius: 41px;
        padding: 10px 24px;
        background-color: #E02C6D;
        border: none;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 1rem;
    }

    .navbar, .banner, .main-container{
    max-width: 1440px;
    margin: 0px auto;
}

 /* ===== Header / Navbar =====  */
 .navbar{
    justify-content: space-between;
    align-items: center;
 }
 .brand{
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary-color);
 }

 .menu-item{
    list-style-type: none;
    margin-right: 34px;
 }
 .menu-item a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: var(--primary-color);
 }

/* ===== Hero / Banner =====*/
.banner{
    justify-content: space-between;
    margin-top: 42px;
    align-items: center;
    justify-items: center;


}
.banner-content{
    width: 582px;
    height: 270px;
    text-align: left;
}
.banner-title{
    color: var(--primary-color);
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
}
.banner-description{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
}
.main-img{
    padding: 30px 32px 30px 2px;
    background-image: url(./images/Circle\ design.svg);
    margin-bottom: 70px;
}

/* sponsor section */
hr{
    width: 100%;
    height: 1px;  
}
.sponsor-brand{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
}

.sponsor-img{
       margin-top: 36px;
       margin-bottom: 36px;
}


/* responsive layout */
@media screen and (max-width: 576px){
    .navbar{
        flex-direction: column;
    }
    .menu{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        text-align: center;
    }
    .banner{
        flex-direction: column-reverse;  
        justify-content: center;
        align-items: center;
        margin-bottom: 51px;
    }
    .banner-content, .banner-title{
        text-align: center;
        width: 100%;
        font-size: 1.75rem;
    } 
    .banner-title{
        line-height: 50px;
    }
    .banner-img{
        width: 257px;
        margin-left: -30px;
    }
    .main-img{      
        width: 100%; 
        background-size: 100%;
        background-repeat: no-repeat;
        margin-bottom: -20px;
    }
    .sponsor-brand{
        grid-template-columns: repeat(4, 1fr);
        padding-left: 42px;
        padding-right: 42px;
        gap: 31px;
    }
    .sponsor-img{
        width: 100%;
        margin-top: -36px;
    }
    hr{
        visibility: hidden;
    }
}