@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin-font {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;

}
/* shared style */
    :root{
        --primary-color: #3A3A3A;
    }
    .display-flex{
        display: flex;
    }


    .btn{
        border-radius: 41px;
        padding: 10px 24px;
        background-color: #E02C6D;
        border: none;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 1rem;
    }

    .navbar, .banner, .main-container{
    max-width: 1440px;
    margin: 0px auto;
}

 /* ===== Header / Navbar =====  */
 .navbar{
    justify-content: space-between;
    align-items: center;
 }
 .brand{
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary-color);
 }

 .menu-item{
    list-style-type: none;
    margin-right: 34px;
 }
 .menu-item a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: var(--primary-color);
 }

/* ===== Hero / Banner =====*/
.banner{
    justify-content: space-between;
    margin-top: 42px;
    align-items: center;
    justify-items: center;


}
.banner-content{
    width: 582px;
    height: 270px;
    text-align: left;
}
.banner-title{
    color: var(--primary-color);
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
}
.banner-description{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
}
.main-img{
    padding: 30px 32px 30px 2px;
    background-image: url(./images/Circle\ design.svg);
    margin-bottom: 70px;
}

/* sponsor section */
.sponsor-brand{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
    box-shadow: 0px 0px 50px -45px ;
    margin: 0px auto;
}

.sponsor-img{
       margin-top: 36px;
       margin-bottom: 36px;
}
 /* collection/card section  */
 .collection-container{
    margin-top: 100px;
    
 }
 .collection-title{
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 30px;
 }

 .card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    justify-items: center;
 }
    .card {
  width: 329px;
  height: 476px;
  padding: 17px 14px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  text-align: left;
}
.card-img{
    width: 100%;
}
.card-content{
    line-height: 20px;
}
.card-title{
    font-size: 1.75rem;
    font-weight: 500;
    color: #18191F;
}
.card-price{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}
.card-description{
    font-size: 0.87rem;
    font-weight: 700;
    color: rgba(120, 120, 133, 1);
}
.button-2{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    margin-right: 16px;
}
.btn2{
        background-color: #FFFFFF;
        border: none;
        color: rgba(224, 44, 109, 0.87);
        font-weight: 700;
        font-size: 1rem;
        
}
/* < collection/card section  */
.featured{
    margin-top: 100px;
    gap: 96px;
    /* justify-content: space-between; */
    margin-bottom: 100px;

}
.featured-title{
    font-size: 2.375rem;
    width: 610px;
    font-weight: 700;
    color: rgba(10, 8, 38, 1);
}
.featured-description{
    font-size: 1rem;
    line-height: 28px;
    width: 501px;
    text-align: left;
    font-weight: 700;
    color: rgba(108, 108, 108, 1);
}
.btn3{
    background-color: rgba(224, 44, 109, 1);
        border: none;
        color: rgba(255, 255, 255, 1);
        font-weight: 700;
        font-size: 1rem;
        padding: 10px 24px;

}
 /* ===== Footer ===== */
 .footer-container{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(10, 8, 38, 1);
    color: rgba(255, 255, 255, 1);
    
 }
 .footer-content{
    text-align: center;
 }
 .footer-title{
    font-weight: 700;
    font-size: 1.5rem;
 }
 .footer-copyright{
    font-weight: 700;
    font-size: 0.875rem;
 }
 .social-link{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-left: -50px;
 }
 .social-link li{
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 3px;
 }
 
/* responsive layout */
@media screen and (max-width: 576px){
    .navbar{
        flex-direction: column;
    }
    .menu{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        text-align: center;
    }
    .banner{
        flex-direction: column-reverse;  
        justify-content: center;
        align-items: center;
        margin-bottom: 51px;
    }
    .banner-content, .banner-title{
        text-align: center;
        width: 100%;
        font-size: 1.75rem;
    } 
    .banner-title{
        line-height: 50px;
    }
    .banner-img{
        width: 257px;
        margin-left: -30px;
    }
    .main-img{      
        width: 100%; 
        background-size: 100%;
        background-repeat: no-repeat;
        margin-bottom: -20px;
    }
    .sponsor-brand{
        grid-template-columns: repeat(4, 1fr);
        padding-left: 42px;
        padding-right: 42px;
        gap: 31px;
    }
    .sponsor-img{
        width: 100%;
        margin-top: -36px;
    }
    .collection-title{
    font-size: 1rem;
    }
    .card-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .featured{
        flex-direction: column-reverse;
        padding: 0 30px;
        text-align: center;
    }
    .featured-img{
        margin-top: -40px;
    }
    .featured-title{
        font-size: 1.5rem;
        width: 100%;
    }
    .featured-description{
        width: 100%;
        text-align: center;
    }
}


@media screen and (min-width: 576px) and (max-width:992px){
    .navbar{
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .sponsor-brand{
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        gap: -50px;
        margin-top: 70px;
    }
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .featured{
        flex-direction: column-reverse;
    }
    .featured-img{
        width: 100%;
    }
}